@charset "utf-8";

/*/////common/////*/

span.ftdel { color:#fff; }
.fticon a:hover { color:rgb(255,180,0); }
.sidenav span { color:#fff; }
.sidenav { background:rgba(55,0,65,0.8); z-index:999; }
.submenu li { background:rgba(55,0,65,0.8); }
header { transition:0.5s; }
@media screen and (min-width:1450px) {
	/*/////header/////*/
.topmenu.icon { display:none; }

header { 
	position:fixed; top:0; left:0;
	width:100%; height:75px; z-index:999
 }
nav {
	display:flex;
	justify-content:flex-start;
	align-items:center;
	width:90%; height:100%; margin:0 auto; 
 }
 	/* sidenav */
	.sidenav { 
	    position:fixed; top:75px; left:-200px;
	    width:60px; height:100%;
	    transition:0.5s;
	    overflow:hidden;
	}
	.sidenav.active {
	 	left:0;
	}
	.sidenav:hover {
	    width:300px; overflow:visible;
	}
	.sidenav .mainmenu {
	    position:absolute;
	    top:0;
	    left:0;
	    width:100%;
	}
	.sidenav .mainmenu > li {
	    position:relative;
	    width:100%;
	    list-style:none;
	}
	.sidenav .mainmenu li:hover {
	    background:#ea1d63;
	}
	.sidenav .mainmenu > li a {
	    position:relative;
	    display:block;
	    width:100%;
	    display:flex;
	    align-items:center; 
	    text-decoration:none;
	    color:#fff;
	}
	.sidenav .mainmenu > li a .s-icon {
	    position:relative;
	    display:block;
	    min-width:60px; 
	    height:60px;
	    line-height:60px;
	    text-align: center;
	}
	.sidenav .mainmenu > li a .s-icon .fas {
	    font-size:24px;
	}
	
	.sidenav .mainmenu > li a .title {
	    position:relative;
	    display:block;
	    padding:0 10px;
	    height:60px;
	    line-height:60px;
	    text-align:start;
	    white-space:nowrap;
	}
	
	/* submenu */
	.submenu { 
	    position:absolute; top:0; left:100%; border-radius:0 25px 25px 0; overflow:hidden;
	}
	.submenu li { 
	    width:0px; height:60px; 
	    line-height:60px; list-style:none; 
	    transition:0.5s;
	   	white-space:nowrap;
	}
	.sidenav .mainmenu li:hover .submenu li {
		width:200px; padding-left:15px;
	}
	.topmenu { order:2; margin-left:auto; }
	.topmenu.text > li > a { 
		padding:10px 0;
		font-size:16px; color:#fff;
	}
	.topmenu.text li:first-child a { margin-right:40px; }
	.topmenu.text li a:hover { font-weight:500; color:rgb(130, 20, 145); }
 
 #open { order:1; margin:-7px 0 0 30px; font-size:34px; color:#fff; }
.topmenu { margin-left:auto; order:2; }
.topmenu.text > li > a { 
	padding:10px 0;
	font-size:16px; color:#fff;
}
.topmenu.text li:first-child a { margin-right:40px; }
.topmenu.text li a:hover { font-weight:500; color:rgb(130, 20, 145); }

/*///// #navbar/////*/


.logo img { width:150px; }
	
/*///// footer /////*/

footer { 
	width:100%; height:200px; background:rgba(55,0,65);  
}
footer .ftmenu { 
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:1400px; height:100%; margin:0 auto; padding:0 50px;
}
footer .ftlogo { width:120px;}
footer p,footer a { color:#fff; }
footer p { margin-top:-20px; font-size:13px; }
footer .address { width:380px; margin-top:0; }
footer ul li a { padding:0 10px; font-size:36px;}
footer ul li:last-child a { padding-right:0;}
footer ul li a:hover { color:rgba(255,180,0,1); }

}


@media screen and (min-width:1025px) and (max-width:1449px) {
	/*/////header/////*/
		
	.topmenu.icon { display:none; }

	header { 
		position:fixed; top:0; left:0;
		width:100%; height:75px; z-index:999;
	}
	nav {
		display:flex;
		justify-content:space-between;
		align-items:center;
		position:relative;
		width:90%; height:100%; margin:0 auto; 
	}

	.logo img { width:150px; }

	#open { margin:-7px 0 0 30px; font-size:34px; color:#fff; order:1;}
	/* sidenav */
	.sidenav { 
	    position:fixed; top:75px; left:-200px; 
	    width:60px; height:100%;
	    transition:0.5s;
	    overflow:hidden;
	}
	.sidenav.active {
		left:0;
	}
	.sidenav:hover {
	    width:300px; overflow:visible;
	}
	.sidenav .mainmenu {
	    position:absolute;
	    top:0;
	    left:0;
	    width:100%;
	}
	.sidenav .mainmenu > li {
	    position:relative;
	    width:100%;
	    list-style:none;
	}
	.sidenav .mainmenu li:hover {
	    background:#ea1d63;
	}
	.sidenav .mainmenu > li a {
	    position:relative;
	    display:block;
	    width:100%;
	    display:flex;
	    align-items:center; 
	    text-decoration:none;
	    color:#fff;
	}
	.sidenav .mainmenu > li a .s-icon {
	    position:relative;
	    display:block;
	    min-width:60px; 
	    height:60px;
	    line-height:60px;
	    text-align: center;
	}
	.sidenav .mainmenu > li a .s-icon .fas {
	    font-size:24px;
	}
	
	.sidenav .mainmenu > li a .title {
	    position:relative;
	    display:block;
	    padding:0 10px;
	    height:60px;
	    line-height:60px;
	    text-align:start;
	    white-space:nowrap;
	}
	
	/* submenu */
	.submenu { 
	    position:absolute; top:0; left:100%; border-radius:0 25px 25px 0; overflow:hidden;
	}
	.submenu li { 
	    width:0px; height:60px; 
	    line-height:60px; list-style:none;
	    transition:0.5s;
	   	white-space:nowrap;
	}
	.sidenav .mainmenu li:hover .submenu li {
		width:200px; padding-left:15px;
	}
	.topmenu { order:2; margin-left:auto; }
	.topmenu.text > li > a { 
		padding:10px 0;
		font-size:16px; color:#fff;
	}
	.topmenu.text li:first-child a { margin-right:40px; }
	.topmenu.text li a:hover { font-weight:500; color:rgb(130, 20, 145); }

	/*///// #navbar/////*/

	.navimg {
		float:right; 
		width:40%; height:100%;
		background: url(../imgs/navbg.jpg) no-repeat center;
		background-size: cover;
		border-left:3px solid #821491; 
		}
	/*///// footer /////*/

	footer { 
		width:100%; height:310px; background:rgba(55,0,65); 
	}
	footer .ftmenu { 
		display:flex;
		justify-content:space-between;
		align-items:center;
		flex-direction:column;
		width:100%; height:100%; margin:0 auto; padding:70px;
	}
	footer .ftlogo { width:120px; }
	footer .ftlogo a { font-size:50px; }
	footer p,footer a { color:#fff; }
	footer p { font-size:12px; text-align:center;}
	footer .address { width:360px; }
	footer ul li a { padding:0 10px; font-size:36px; }
	footer ul li:last-child a { padding-right:0;}
}

@media screen and (min-width:768px) and (max-width:1024px) {
	/*///// header /////*/
	.topmenu.text {display:none;}
	.topmenu.icon {display:block; order:-1;}

	header { 
		position:fixed; top:0; left:0;
		width:100%; height:75px; z-index:999;
	}
	nav {
		display:flex;
		justify-content: space-between;
		align-items: center;
		width:90%; margin:13px auto; 
	}
	.logo img { order:1; width:150px; }
	
		/* sidenav */
	.sidenav { 
	    position:fixed; top:75px; left:-200px;
	    width:60px; height:100%;
	    transition:0.5s;
	    overflow:hidden;
	}
	.sidenav.active {
	    left:0; width:100%;
	}
	.sidenav:hover {
	    width:100%;
	}
	.sidenav .mainmenu {
	    position:absolute;
	    top:0;
	    left:0;
	    width:100%;
	}
	.sidenav .mainmenu > li {
	    position:relative;
	    width:100%;
	    list-style:none;
	}
	.sidenav .mainmenu li:hover {
	    background:#ea1d63;
	}
	.sidenav .mainmenu > li a {
	    position:relative;
	    display:block;
	    width:100%;
	    display:flex;
	    align-items:center; 
	    text-decoration:none;
	    color:#fff;
	}
	.sidenav .mainmenu > li a .s-icon {
	    position:relative;
	    display:block;
	    min-width:60px; 
	    height:60px;
	    line-height:60px;
	    text-align: center;
	}
	.sidenav .mainmenu > li a .s-icon .fas {
	    font-size:24px;
	}
	
	.sidenav .mainmenu > li a .title {
	    position:relative;
	    display:block;
	    padding:0 10px;
	    height:60px;
	    line-height:60px;
	    text-align:start;
	    white-space:nowrap;
	}
	
	/* submenu */
	.submenu { 
	    position:absolute; top:0; left:0; border-radius:0 25px 25px 0; overflow:hidden;
	}
	.submenu li { 
	    width:0px; height:60px; 
	    line-height:60px; list-style:none;
	    transition:0.5s;
	   	white-space:nowrap;
	}
	.sidenav .mainmenu li:hover .submenu li {
		width:200px; padding-left:15px;
	}
	.topmenu { order:2; margin-right:auto; }
	.topmenu.text > li > a { 
		padding:10px 0;
		font-size:16px; color:#fff;
	}
	.topmenu.text li:first-child a { margin-right:40px; }
	.topmenu.text li a:hover { font-weight:500; color:rgb(130, 20, 145); }
	

	#open { order:2; font-size:34px; color:#fff; margin-left:auto; }


	.topmenu.icon a { 
		font-size:35px; color:#fff; margin-right:10px;
	}
	.topmenu.icon a:hover { color:rgb(130, 20, 145); }

	footer { 
		width:100%; height:310px; background:rgba(55,0,65); 
	}
	footer .ftmenu { 
		display:flex;
		justify-content:space-between;
		align-items:center;
		flex-direction:column;
		width:100%; height:100%; margin:0 auto; padding:70px;
	}
	footer .ftlogo { width:120px; }
	footer .ftlogo a { font-size:50px; }
	footer p,footer a { color:#fff; }
	footer p { font-size:12px; text-align:center;}
	footer .address { width:360px; }
	footer ul li a { padding:0 10px; font-size:36px; }
	footer ul li:last-child a { padding-right:0;}
}

@media screen and (max-width:767px) {
	/*///// header /////*/
	.topmenu.text {display:none;}
	.topmenu.icon {display:block;}

	header { 
		position:fixed;	 top:0; left:0;
		width:100%; height: 50px; z-index:999;
	}
	nav { width:100%;}

	.logo img { 
		position:absolute; top:15px; left:50%;
		width:120px;
		transform: translateX(-50%);
	}
				/* sidenav */
	.sidenav { 
	    position:fixed; top:50px; left:-200px; 
	    width:60px; height:100%;
	    transition:0.5s;
	    overflow:hidden;
	}
	.sidenav.active {
	    left:0; width:100%;
	}
	.sidenav:hover {
	    width:100%;
	}
	.sidenav .mainmenu {
	    position:absolute;
	    top:0;
	    left:0;
	    width:100%;
	}
	.sidenav .mainmenu > li {
	    position:relative;
	    width:100%;
	    list-style:none;
	}
	.sidenav .mainmenu li:hover {
	    background:#ea1d63;
	}
	.sidenav .mainmenu > li a {
	    position:relative;
	    display:block;
	    width:100%;
	    display:flex;
	    align-items:center; 
	    text-decoration:none;
	    color:#fff;
	}
	.sidenav .mainmenu > li a .s-icon {
	    position:relative;
	    display:block;
	    min-width:60px; 
	    height:60px;
	    line-height:60px;
	    text-align: center;
	}
	.sidenav .mainmenu > li a .s-icon .fas {
	    font-size:24px;
	}
	
	.sidenav .mainmenu > li a .title {
	    position:relative;
	    display:block;
	    padding:0 10px;
	    height:60px;
	    line-height:60px;
	    text-align:start;
	    white-space:nowrap;
	}
	
	/* submenu */
	.submenu { 
	    position:absolute; top:0; left:0; border-radius:0 25px 25px 0; overflow:hidden;
	}
	.submenu li { 
	    width:0px; height:60px; 
	    line-height:60px; list-style:none;
	    transition:0.5s;
	   	white-space:nowrap;
	}
	.sidenav .mainmenu li:hover .submenu li {
		width:200px; padding-left:15px;
	}
	
	
	#open, .topmenu.icon a {  
		position:absolute; top:3px;
		font-size:30px; color:#fff; 
	}
	#open { left:20px;	}


	.topmenu.icon li:first-child a { right:60px; }
	.topmenu.icon li:last-child a { right:20px; }

	/*///// footer /////*/

	footer { 
		width:100%; height:400px; background:rgba(55,0,65); 
	}
	footer .ftmenu { 
		display:flex;
		justify-content:space-between;
		align-items:center;
		flex-direction:column;
		width:100%; height:100%; margin:0 auto; padding:70px 0 110px 0;
	}
	footer .ftlogo { width:120px; }
	footer p,footer a { color:#fff; }
	footer p { font-size:12px; text-align:center;}
	span.ftdel { font-size:0;}
	footer .address { width:260px; }
	footer ul li a { padding:0 10px; font-size:36px; }
	.ftmenu > :nth-child(1) { order:1; }
	.ftmenu > :nth-child(2) { order:3; }
	.ftmenu > :nth-child(3) { order:4; }
	.ftmenu > :nth-child(4) { order:2; }
}
